@font-face {
    font-family: 'Punta';
    src:  url('https://res.cloudinary.com/spire-tech/raw/upload/v1641654538/fonts/punta_font/Punta_-_Light_djfcdz.otf.woff2') format('woff2'),
    url("https://res.cloudinary.com/spire-tech/raw/upload/v1646790142/fonts/satoshi_font/punta_regular-webfont_jbqtfz.woff") format("woff");
}

@font-face {
    font-family: 'Satoshi';
    src:  url('https://res.cloudinary.com/spire-tech/raw/upload/v1641654156/fonts/satoshi_font/Satoshi-Variable_t1ou5n.woff2') format('woff2'),
    url("https://res.cloudinary.com/spire-tech/raw/upload/v1641654155/fonts/satoshi_font/Satoshi-Variable_ncsjrw.woff") format("woff");
}

.feedback-button {
    align-items: center;
    background-color: #FDF9EE;
    border: 2px solid transparent;
    bottom: 15px;
    color: #433D41;
    cursor: pointer;
    display: flex;
    font-family: "Satoshi";
    font-size: 1rem;
    font-weight: 400;
    gap: 0.7rem;
    padding: 0.8rem 1.4rem;
    position: fixed;
    right: 10px;
}


.feedback-button:hover {
    border: 2px dotted #73055B;
}


.widget-overlay {
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    margin: 0;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    width: 100%;
}

.container {
    background: #fff;
    bottom: 5rem;
    display: none;
    flex-direction: column;
    padding: 1.2rem 0.5rem 1rem 0.5rem;
    position: fixed;
    right: 10px;
    width: 380px;
}

.company-name {
    color: #500740;
    border-bottom: 0.8px solid #AA9EA6;
    font-family: "Punta";
    font-size: 1.4rem;
    text-align: center;
    margin: 0 0.5rem 1rem 0.5rem;
    padding-bottom: 0.4rem;
}

.feedblocks {
    background: #fff;
    display: flex;
    flex-direction: column;
}

.widget {
    align-items: center;
    padding: 1.2rem 0 1rem 0;
}

.back {
    align-items: center;
    color: #500740;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 1.4rem;
}




.feedblock {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 1.1rem;
    padding: 0.8rem 0.6rem;
    z-index: 2;
}


.feedblock:hover {
    background: rgb(79, 8, 64, 0.1);
    padding: 0.8rem 0.6rem;
}

.feedblock-img img {
    height: auto;
    width: 30px;
}

.feedblock-title, .rating-title {
    color: #300226;
    font-family: "Punta";
    font-size: 1.1rem;
    margin: 0;
    margin-bottom: 0.2rem;
    text-transform: capitalize;
}

.feedblock-subTitle, .rating-subTitle {
    color: #433D41;
    font-family: "Satoshi";
    font-size: 1rem;
    margin: 0;
}

.spire-logo {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}


.spire-logo img {
    height: auto;
    width: 90px;
}

.rating-block {
    display: none;
    flex-direction: column;
    justify-content: center;
}

.rating-title {
    text-align: center;
    margin: 0;
    margin-bottom: 0.3rem;
}

.rating-subTitle {
    text-align: center;
    padding: 0 1.2rem;
}


.rating-stars, .form-stars {
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
}


.form {
    display: none;
    margin-top: 1.7rem;
}

.slug {
    display: none;
}


.form-stars {
    margin-bottom: 1.8rem;
}

.form-input, .form-textarea {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.form-textarea {
    margin: 0;
    padding: 0.5rem 1.2rem;
}


.form-input input[type="email"] {
    padding: 0.8rem 0.4rem;
}

.form-input input[type="email"]:focus, .form-textarea-textarea:focus {
    outline-color: #F5A623;
}

.form-input-label, .form-textarea-label {
    font-family: "Satoshi";
    font-weight: 200;
    margin-bottom: 0.4rem;
}

.form-button {
    align-items: center;
    color: #433D41;
    display: flex;
    font-family: "Satoshi";
    justify-content: center;
    margin-bottom: 1.5rem;
    margin-top: 0.8rem;
    width: 100%;
}

.form-button-button {
    background-color: #500740;
    border: 1px solid #500740;
    color: #ffffff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 550;
    padding: 00.8rem 0;
    width: 90%;
}


.image-input {
    align-items: center;
    border: 1px dashed #62535D;
    cursor: pointer;
    display: flex;
    font-family: "Satoshi";
    gap: 10px;
    justify-content: center;
    margin: 0.4rem 1.2rem 1rem 1.2rem;
    text-align: center;
    padding: 1rem 0;
}



.custom-file-input {
    display: none;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Take a Screenshot';
    display: none;
    justify-content: center;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  
  .custom-file-input:hover::after {
    content: "";
  }
  
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
